/* CONSTANTS
Blue: #1d69ad;
Orange: #f96707;
Brown: #665431;
Grey: #efefef;

*/
p.footer, ul.footer {
	font-size: 12px;

}

/*******************************************************************************/
/******************************** NAVIGATION ***********************************/
/*******************************************************************************/
/* Navigation Bar */
.top-bar{
    background: none;
    background-color: white;
    margin-bottom: 5px;
}

.top-bar .name h1 a{
    color: #000;
}

.top-bar-section ul {
    background: none;
    text-transform: uppercase;
}

.top-bar-section li:not(.has-form) a:not(.button){
    background: #FFFFFF;
}

.top-bar-section li.divider {
    background: #888888;
}

/******************************** END NAVIGATION *******************************/
.top-bar .expanded > .title-area{
    background-color: #efefef;
}

#menu-icon{
    background-color: #efefef;
    color: black;
}

#menu-icon > a{
    color:black;
}

#menu-icon a span::after{
    box-shadow:0 0 0 1px #000000, 0 7px 0 1px #000000, 0 14px 0 1px #000000;
}

.name img{
    height: 45px;
    vertical-align: top;
}

.name h1{
    border-left: 1px solid black;
    display: inline-block;
    width: 275px;
    padding-left: 10px;
}

#logo_name{
    font-family: georgia, times;
    font-weight: bold;
    line-height: normal;
    margin-top: 5px;
    color: #1d69ad;
}

/** reminder **/

/** Changes the active menu item from default black to a gradient **/
.top-bar-section ul li:active {
    background: #000;
    color: #00FF00;
}
 
/** Changes the hover state of non active menu items **/
.top-bar-section li:hover a {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 transparent;
    color: #000;
}
 
/** Changes non active menu items text color to black **/
.top-bar-section ul li > a {
    color: #2d2d2d;
}
 
/** Changes the hover state of dropdown menu items **/
.top-bar-section ul.dropdown li a:hover:not(.button) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}
 
/** IMPORTANT fill for the ul dropdown container **/
.top-bar-section ul.dropdown {
    background: #333;
    color: #fff;
}
 
/** This fixes the position and the color of the dropdown arrow **/
.top-bar-section .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 1) transparent transparent;
    margin-top: 2.5px;
}


/*********************** Location CSS **/

.loc-element {
    border: 1px solid #BBBBBB;
    height: 150px;
}

.loc-thumb {
    margin-left: 10px;
    margin-top: 21px;
}

.loc-content {
    margin-top: 10px;
}

/*********************** End Location CSS **/

/** Volunteer CSS **/

.volunteer-video {
    margin-top: 10px;
}

.hof-list ul {
    list-style-type: none;
}

/*********************** End Volunteerx` CSS **/

/********* Donate CSS **/

.donate-header {
    margin-top: 21px;
}

.donate-line {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

/********** End donate CSS **/

/********* About CSS **/


/********** End About CSS **/

/********* Media CSS **/

.media-container{
    margin-top: 10px;
}

.navbar{
    border-bottom: 1px solid #000;
}

/********** End Media CSS **/


/*******************************************************************************/
/******************************** SHARED ***************************************/
/*******************************************************************************/



.highlighted {
    color: blue;
}

.full-width {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/******************************** END SHARED ***********************************/

/*******************************************************************************/
/******************************** HOME PAGE ************************************/
/*******************************************************************************/

#home-carousel {
    margin-top: 20px;
}

#mission-statement p {
    font-size: 25pt;
}

.home-tile-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-tile {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}

.home-tile img {
    display: block;
    margin: auto;
}

.home-tile p {
    margin-top: 10px;
}

.home-tile h3 {
    text-align: center;
}


/******************************** END HOME PAGE ********************************/


/*******************************************************************************/
/******************************** FOOTER ***************************************/
/*******************************************************************************/

footer div {
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

/******************************** END FOOTER ***********************************/
