p.footer, ul.footer {
	font-size: 12px;

}

/* Navigation Bar */
.top-bar {
    background: none;
    border-bottom-style: solid;
    border-width: 1px;
}

.top-bar .name h1 a{
	color: #000;
}

.top-bar-section ul {
    background: none;
    text-transform: uppercase;
}

.top-bar-section li:not(.has-form) a:not(.button){
    background: #FFFFFF;
}

.top-bar-section li.divider {
	background: #888888;
}

/** reminder **/

/** Changes the active menu item from default black to a gradient **/
.top-bar-section ul li:active {
	background: #000;
    color: #00FF00;
}
 
/** Changes the hover state of non active menu items **/
.top-bar-section li:hover a {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 transparent;
    color: #000;
}
 
/** Changes non active menu items text color to black **/
.top-bar-section ul li > a {
    color: #2d2d2d;
}
 
/** Changes the hover state of dropdown menu items **/
.top-bar-section ul.dropdown li a:hover:not(.button) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}
 
/** IMPORTANT fill for the ul dropdown container **/
.top-bar-section ul.dropdown {
    background: #333;
    color: #fff;
}
 
/** This fixes the position and the color of the dropdown arrow **/
.top-bar-section .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 1) transparent transparent;
    margin-top: 2.5px;
}


/** Location CSS **/

.location-header {
    padding-left: 30px;
    padding-right: 30px;
}

/*******************************************************************************/
/******************************** HOME PAGE ************************************/
/*******************************************************************************/


/*******************************************************************************/
/******************************** END HOME PAGE ********************************/
/*******************************************************************************/