/* CONSTANTS
Blue (header): #1d69ad;
Blue (background): #6096C5;
Orange: #f96707;
Brown: #665431;
Grey: #efefef; */

/* ======================== Template ======================== */


/****** Navigation ******/

.top-bar{
    background: none;
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.top-bar.expanded .title-area {
    background: none;
}

.top-bar .name h1 a{
    color: #000;
    height: 100%;
}

.top-bar-section ul {
    background: none;
    text-transform: uppercase;
}

.top-bar-section li:not(.has-form) a:not(.button){
    background: #FFFFFF;
}

.top-bar-section ul li a:hover {
    background-color: #f96707 !important;
}

.top-bar-section li.divider {
    background: #888888;
}

.top-bar .expanded > .title-area, #menu-icon{
    background-color: #efefef;
}

#menu-icon{
    color: black;
}

#menu-icon > a{
    color:black;
}

#menu-icon a span::after{
    box-shadow:0 0 0 1px #000000, 0 7px 0 1px #000000, 0 14px 0 1px #000000;
}

.name img{
    height: 45px;
    vertical-align: top;
}

.name h1{
    display: inline-block;
    width: 275px;
    padding-left: 10px;
}

#logo_name{
    font-family: georgia, times;
    font-weight: bold;
    line-height: normal;
    color: #1d69ad;
}

#logo{
    float:left;
}


 
/** Changes non active menu items text color to black **/
.top-bar-section ul li > a {
    color: #2d2d2d;
}
 


.contain-to-grid .top-bar {
    padding-bottom: 10px;
}


/****** Footer ******/
footer div {
    text-align: center;
    font-size: 10pt;
}

footer p {
    margin-bottom: 0;
    font-size: inherit;
}

footer hr{
    margin-top: 0;
}

/* ======================== Pages ======================== */

/****** Index ******/

#home-carousel {
    margin-top: 20px;
}

#mission-statement-large, #mission-statement-small {
    text-align: justify;
}

#mission-statement-large {
    margin-bottom: 35px;
    margin-top: 35px;
}

#mission-statement-small {
    margin-bottom: 35px;
    margin-top: 35px;
}
#mission-statement-small p {
    font-size: 12pt;
    margin-left: 5%;
    margin-right: 5%;
}


.home-tile-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-tile {
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    margin-bottom: 15px;
    background-color: white;
}

.home-tile img {
    display: block;
    margin: auto;
}

.home-tile p {
    margin-top: 10px;
    font-size: 12pt;
}

.home-tile h3 {
    text-align: center;
    font-size: 18pt;
}

ul.slick-dots{
    margin: 0;
    position: inherit;
    bottom: 0;
}

.slick-slider {
    margin-bottom: 0px;
}
/****** Location ******/

.loc-element {
    border: 1px solid #BBBBBB;
    min-height: 150px;
}

.loc-thumb {
    margin-left: 10px;
    margin-top: 21px;
}

.loc-content {
    margin-top: 10px;
}

/****** Media ******/

.media-container{
    margin-top: 10px;
}

.navbar{
    border-bottom: 1px solid #000;
    background: #FFFFFF;
}


/****** Donate ******/

.donate-header {
    margin-top: 21px;
}

.donate-line {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

#donate-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/****** Volunteers ******/

.volunteer-video {
    margin-top: 10px;
}

.hof-list ul {
    list-style-type: none;
    margin-left: 0;
    font-size: 10pt;
}

/******** Blog **********/

.blog-row {
    margin-top: 10px;
}

.blog-image-container {
    text-align: center;
    margin-bottom: 10px;
}

.blog-image-container img {
    width: 100%;
}

.blog-date {
    font-style: italic;
    font-size: 10pt;
}

/* ======================== Shared ======================== */

h2{
    font-size: 24pt;
}

h3{
    font-size: 18pt;
}

p{
    font-size: 12pt;
}

.highlighted {
    color: #f96707;
}

.full-width {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    padding-left: 5px;
    padding-right: 5px;
}

.card-section{
    background-color: #6096C5;
    padding-top: 25px;
    padding-bottom: 25px;
}

.headline-section{
    background-color: #efefef;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #DDDDDD;
}

#login-button {
    margin-left: 5px;
}

.content-spacing{
    margin-top: 35px;
}

.text-xlarge{
    font-size: 24pt;
}
.text-large{
    font-size: 18pt;
}
.text-medium{
    font-size: 12pt;
}
.text-small{
    font-size: 10pt;
}

.center-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
